<div class='gallery'>
          <section class="courseGal">
               <div class="imgBox1">
                <figure>
                   <img src="./img/moneyMast3.jpg" class="picassa"alt="description of image" /> 
                   <figcaption class="textOver1"><strong>"Foreign Currency"</strong></figcaption>
                </figure>
               </div>
               <div class="imgBox1">
                   <figure>
                   <img src="./img/moneyMast.jpg" class="picassa"alt="description of image" /> 
                   <figcaption class="textOver1"><strong>"Money Value"</strong></figcaption>
                </figure>
               </div>
               <div class="imgBox1">
                   <figure>
                   <img src="./img/gmoMast.jpg" class="picassa"alt="description of image" /> 
                   <figcaption class="textOver1"><strong>"GMO '&' Produce"</strong></figcaption>
                </figure>
               </div>
               <div class="imgBox1">
                   <figure>
                   <img src="./img/gmoMast2.jpg" class="picassa"alt="description of image" /> 
                   <figcaption class="textOver1"><strong>"GMO:Vegetables"</strong></figcaption>
                </figure>
               </div>
               <div class="imgBox1">
                   <figure>
                   <img src="./img/futureMast.jpg" class="picassa"alt="description of image" /> 
                   <figcaption class="textOver1"><strong>"Futuristic Visions"</strong></figcaption>
                </figure>
               </div>
               <div class="imgBox1">
                   <figure>
                   <img src="./img/futuremast2.jpg" class="picassa"alt="description of image" /> 
                   <figcaption class="textOver1"><strong>"Artificial Intelligence"</strong></figcaption>
                </figure>
               </div>
          </section>
      </div>